<!DOCTYPE html>
<html>
	<head>
		<title>PROJECT terrarium</title>
		<script type="importmap">
		  {
		    "imports": {
		      "three": "https://cdn.jsdelivr.net/npm/three@v0.170.0/build/three.module.js",
		      "three/addons/": "https://cdn.jsdelivr.net/npm/three@v0.170.0/examples/jsm/"
		    }
		  }
		</script>
		<link rel="stylesheet" href="/root.css">
	</head>
	<body>
		<h2>Welcome to PROJECT terrarium</h2>
		<button id="enterNewWorldButton" class="button" style="vertical-align:middle">
			<span>Enter a new world </span>
		</button>
		<div id="terrariumDiv"></div>
	</body>
	<script src="/root.js"></script>
</html>
