<!DOCTYPE html>
<html>
	<head>
		<title>PROJECT terrarium</title>
		<script type="importmap">
		  {
		    "imports": {
		      "three": "https://cdn.jsdelivr.net/npm/three@v0.170.0/build/three.module.js",
		      "three/addons/": "https://cdn.jsdelivr.net/npm/three@v0.170.0/examples/jsm/"
		    }
		  }
		</script>
	</head>
	<body>
		<h2>Welcome to PROJECT terrarium</h2>
		{{template "terrarium"}}
	</body>
</html>
